<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tropical Impacts</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <script lang="JavaScript">
        function showForm(dowhat) {
            if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
            } else {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
            }
        }

        function addImpact() { showForm('insert'); }
        function browseImpacts() { showForm('browse'); }
    </script>
</head>
<body onload="browseImpacts()">
    <h1>Impacts</h1>

    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('tropical_systems') }}">Tropical Storms</a>
        <a href="{{ url_for('impacts') }}">Impacts</a>
        <a href="{{ url_for('tropical_system_impacts') }}">Tropical System Impacts</a>
        <a href="{{ url_for('tropical_system_stats') }}">Tropical System Stats</a>
    </nav>

    <h3>Tropical systems can have many different, devastating impacts. </h3>

    <div id="browse">
        <input type="button" value="New Impact" onclick="addImpact()">
        
        <table border="1" cellpadding="5">
            <tr>
                <th>Impact ID</th>
                <th>Impact Type</th>
            </tr>
            {% for Impacts in Impacts %}
            <tr>
                <td>{{ Impacts.impact_id }}</td>
                <td>{{ Impacts.impact_type }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Insert Form -->
    <div id="insert" style="display: none;">
        <form method="post" action="{{ url_for('add_impact') }}">
            <legend><strong>Add new impact</strong></legend>
            <fieldset class="fields">
                <label>Impact ID:</label> <input type='text' name="impact_id">
                <label>Impact Type:</label> <input type='text' name="impact_type">
            </fieldset>
            <input class="btn" type="submit" value="Add Impact">
            <input class="btn" type="button" value="Cancel" onclick="browseImpacts()">
        </form>
    </div>
</body>
</html>
