<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tropical Impacts</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <script lang="JavaScript">
        /*
        Citation for the following JavaScript:
        Date: 11/18/2024
        Adapted from:  Canvas Explorations
        Source URL: https://canvas.oregonstate.edu/courses/1976520/pages/exploration-web-application-technology?module_item_id=24719064
        */
        function showForm(dowhat) {
            if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
            } 
            else if (dowhat == 'update') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
            }
            else {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
            }
        }

        function addImpact() { showForm('insert'); }
        function updateImpact(impact_id, impact_type) {
            document.getElementById('impact_display').innerHTML = `Impact ID: <strong>${impact_id}</strong>`;
            document.getElementById('update_impact_id').value = impact_id;
            document.getElementById('update_impact_type').value = impact_type;
            showForm('update')
        }
        function browseImpacts() { showForm('browse'); }
    </script>
</head>
<body onload="browseImpacts()">
    <!-- Citation for any Jinja2 code used:
        Date: 11/18/2024
        Adapted from:  Jinja Documentation
        Source URL: https://jinja.palletsprojects.com/en/stable/templates/ -->

    <h1>Impacts</h1>

    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('tropical_systems') }}">Tropical Systems</a>
        <a href="{{ url_for('impacts') }}">Impacts</a>
        <a href="{{ url_for('tropical_system_impacts') }}">Tropical System Impacts</a>
        <a href="{{ url_for('tropical_system_stats') }}">Tropical System Stats</a>
    </nav>

    <h3>Tropical systems can have many different, devastating impacts. </h3>

    <p><strong>Check values to ensure there are no duplicates. Error messages not implemented yet!</strong></p>

    <div id="browse">
        <input type="button" value="New Impact" onclick="addImpact()">
        
        <table border="1" cellpadding="5">
            <tr>
                <th></th>
                <th>Impact ID</th>
                <th>Impact Type</th>
            </tr>
            {% for Impacts in Impacts %}
            <tr>
                <td><button type="button" onclick="updateImpact(
                    '{{ Impacts.impact_id }}',
                    '{{ Impacts.impact_type }}'
                )">Edit</button></td>
                <td>{{ Impacts.impact_id }}</td>
                <td>{{ Impacts.impact_type }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Insert Impact -->
    <div id="insert" style="display: none;">
        <form method="post" action="{{ url_for('add_impact') }}">
            <legend><strong>Add new impact</strong></legend>
            <fieldset class="fields">
                <label>Impact ID:</label> <input type='text' name="impact_id">
                <label>Impact Type:</label> <input type='text' name="impact_type">
            </fieldset>
            <input class="btn" type="submit" value="Add Impact">
            <input class="btn" type="button" value="Cancel" onclick="browseImpacts()">
        </form>
    </div>
        
    <!-- Update Impact -->
    <div id="update" style="display: none;">
        <form method="post" action="{{ url_for('update_impact') }}">
            <legend><strong>Update Impact</strong></legend>
            <fieldset class="fields">
                <p id="impact_display" class="impact_display"></p>
                <input type="hidden" name="impact_id" id="update_impact_id">
                <label>Impact Description: </label> <input type="text" name="impact_type" id="update_impact_type">
            </fieldset>
            <input class="btn" type="submit" value="Update Impact">
            <input class="btn" type="button" value="Cancel" onclick="browseImpacts()">
        </form>
</body>
</html>
