<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlantic Hurricane Database</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script lang="JavaScript"> 
        /*
        Citation for the following JavaScript:
        Date: 11/18/2024
        Adapted from:  Canvas Explorations
        Source URL: https://canvas.oregonstate.edu/courses/1976520/pages/exploration-web-application-technology?module_item_id=24719064
        */
        function showForm(dowhat) {
            if (dowhat == 'update') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
            }
            else if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
            }
            else {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
            }
        }
        function newSeason() { showForm('insert'); }
        /*
        Citation for the following JavaScript: updateSeason()
        Date: 11/18/2024
        Based on:  Javatpoint
        Source URL: https://www.javatpoint.com/document-object-model
        */
        function updateSeason(season_id, hurricane_count, tropical_storm_count, tropical_depression_count, first_storm_date, last_storm_date) {
            document.getElementById('season_display').innerHTML = `Season: <strong>${season_id}</strong>`;
            document.getElementById('update_season_id').value = season_id;
            document.getElementById('hurricane_count').value = hurricane_count;
            document.getElementById('tropical_storm_count').value = tropical_storm_count;
            document.getElementById('tropical_depression_count').value = tropical_depression_count;
            document.getElementById('first_storm_date').value = first_storm_date;
            document.getElementById('last_storm_date').value = last_storm_date;
            showForm('update');
        }
        function browseSeason() { showForm('browse'); }
    </script>
</head>
<body onLoad="browseSeason()">
    <h1>Atlantic Hurricane Database</h1>

    <nav>
        <a href="{{ url_for('index') }}">Home</a> |
        <a href="{{ url_for('tropical_systems') }}">Tropical Systems</a> |
        <a href="{{ url_for('impacts') }}">Impacts</a> |
        <a href="{{ url_for('tropical_system_impacts') }}">Tropical System Impacts</a> |
        <a href="{{ url_for('tropical_system_stats') }}">Tropical System Stats</a>
    </nav>

    <h3>Each season is represented by a year.</h3>
    <p><strong>A Hurricane Season is typically denoted as the year it occurs in. Ex. 2024 Hurricane Season</strong></p>

    <h5>Add or edit season counts. Unable to delete to avoid accidental deletions. If mistake is made, edit the entry.</h5>
    <p><strong>Check values to ensure there are no duplicates. Error messages not implemented yet!</strong></p>
    <!-- Data table -->
    <h2>Hurricane Seasons</h2>
    <div id="browse">
        <table border="1" cellpadding="5">
            <tr>
                <th><button type="button" onclick="newSeason()">New</button></th>
                <th>Season ID</th>
                <th>Hurricane Count</th>
                <th>Tropical Storm Count</th>
                <th>Tropical Depression Count</th>
                <th>First Storm Date</th>
                <th>Last Storm Date</th>
            </tr>
            {% for HurricaneSeasons in HurricaneSeasons %}
            <tr>
                <!-- Access values at the current season_id to edit -->
                <td><button type="button" onclick="updateSeason(
                    '{{ HurricaneSeasons.season_id}}',
                    '{{ HurricaneSeasons.hurricane_count }}',
                    '{{ HurricaneSeasons.tropical_storm_count}}',
                    '{{ HurricaneSeasons.tropical_depression_count}}',
                    '{{ HurricaneSeasons.first_storm_date }}',
                    '{{ HurricaneSeasons.last_storm_date}}'
                    )">Edit</button></td>
                <!-- Display values in database for each column -->
                <td>{{ HurricaneSeasons.season_id }}</td>
                <td>{{ HurricaneSeasons.hurricane_count }}</td>
                <td>{{ HurricaneSeasons.tropical_storm_count }}</td>
                <td>{{ HurricaneSeasons.tropical_depression_count }}</td>
                <td>{{ HurricaneSeasons.first_storm_date }}</td>
                <td>{{ HurricaneSeasons.last_storm_date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Insert Season -->
    <div id="insert" style="display: none;">
        <form method="post" action="{{ url_for('add_season') }}">
            <legend><strong>Add new season</strong></legend>
            <fieldset class="fields">
                <label>Season:</label> <input type="text" name="season_id">
                <label>Number of Hurricanes:</label> <input type="text" name="hurricane_count">
                <label>Number of Tropical Storms:</label> <input type="text" name="tropical_storm_count">
                <label>Number of Tropical Depressions:</label> <input type="text" name="tropical_depression_count">
                <label>First Storm Date:</label> <input type="text" name="first_storm_date" placeholder="YYYY-MM-DD">
                <label>Last Storm Date:</label> <input type="text" name="last_storm_date" placeholder="YYYY-MM-DD">
            </fieldset>
            <input class="btn" type="submit" value="Add Season">
            <input class="btn" type="button" value="Cancel" onclick="browseSeason()">
        </form>
    </div>

    <!-- Update Season -->
    <div id="update" style="display: none;">
        <form method="post" action="{{ url_for('update_season') }}">
            <legend><strong>Update Season</strong></legend>
            <fieldset class="fields">
                <p id="season_display" class="season_display"></p>
                <input type="hidden" name="season_id" id="update_season_id">
                <label>Number of Hurricanes:</label> <input type="text" name="hurricane_count" id="hurricane_count">
                <label>Number of Tropical Storms:</label> <input type="text" name="tropical_storm_count" id="tropical_storm_count">
                <label>Number of Tropical Depressions:</label> <input type="text" name="tropical_depression_count" id="tropical_depression_count">
                <label>First Storm Date:</label> <input type="text" name="first_storm_date" id="first_storm_date" placeholder="YYYY-MM-DD">
                <label>Last Storm Date:</label> <input type="text" name="last_storm_date" id="last_storm_date" placeholder="YYYY-MM-DD">
            </fieldset>
            <input class="btn" type="submit" value="Update Season">
            <input class="btn" type="button" value="Cancel" onclick="browseSeason()">
        </form>
    </div>
</body>
</html>
