<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tropical System Impacts</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script lang="JavaScript">
        function showForm(dowhat) {
            if (dowhat == 'update') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }

        function addImpact(season_id) { 
            document.getElementById('season_display').innerHTML = `Season: <strong>${season_id}</strong>`;
            showForm('insert'); }
        function updateImpact(id, season_id, system_id, impact_id, city, state, country, region, desc) {
            document.getElementById('season_display2').innerHTML = `Season: <strong>${season_id}</strong>`;
            document.getElementById('system_display2').innerHTML = `System ID: <strong>${system_id}</strong>`;
            document.getElementById('update_season_id').value = season_id;
            document.getElementById('update_system_id').value = system_id;
            document.getElementById('update_impact_id').value = impact_id;
            document.getElementById('update_city').value = city;
            document.getElementById('update_state').value = state;
            document.getElementById('update_country').value = country;
            document.getElementById('update_region').value = region;
            document.getElementById('update_desc').value = desc;
            showForm('update');
        }
        function deleteImpact(id, season_id, system_id) {
            document.getElementById('season_display1').innerHTML = `Season: <strong>${season_id}</strong>`;
            document.getElementById('system_display1').innerHTML = `System ID: <strong>${system_id}</strong>`;
            document.getElementById('delete_id').value = id;
            showForm('delete');
        }
        function browseImpacts() { showForm('browse'); }
    </script>
</head>
<body onload="browseImpacts()">
    <h1>Tropical System Impacts</h1>

    <nav>
        <a href="{{ url_for('index') }}">Home</a> |
        <a href="{{ url_for('tropical_systems') }}">Tropical Systems</a> |
        <a href="{{ url_for('impacts') }}">Impacts</a> |
        <a href="{{ url_for('tropical_system_impacts') }}">Tropical System Impacts</a> |
        <a href="{{ url_for('tropical_system_stats') }}">Tropical System Stats</a>
    </nav>

    <h3>View what impacts each storm had in a season and where the impacts occurred.</h3>
    <h5>Steps to make Add, Edit, and Delete functions work:
        <ol>
            <li>Select season from dropdown menu for "Season" and then press "Browse Stats"</li>
            <li>Make any changes needed</li>
        </ol>
        This is required in order to fill in the dropdown menus.
    </h5>
    <h5>If system had no impacts, set impact_id to NULL in dropdown</h5>
    
    <form method="post" action="{{ url_for('tropical_system_impacts') }}">
        <fieldset>
            <label>Season:</label>
            <select name="seasonSelect">
                <option>-- Select Season --</option>
                {% for HurricaneSeasons in HurricaneSeasons %}
                <option value="{{ HurricaneSeasons.season_id }}">{{ HurricaneSeasons.season_id }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Browse Stats">
        </fieldset>
    </form>

    <div id="browse">
        <table border="1" cellpadding="5">
            <tr>
                <th><button type="button" onclick="addImpact(
                    '{{ season_id }}'
                )">New</button></th>
                <th></th>
                <th>System Impact ID</th>
                <th>Season ID</th>
                <th>System ID</th>
                <th>Impact ID</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Region</th>
                <th>Description</th>
            </tr>
            {% for TropicalSystemImpacts in TropicalSystemImpacts %}
            <tr>
                <td><button type="button" onclick="deleteImpact(
                    '{{ TropicalSystemImpacts.id }}',
                    '{{ TropicalSystemImpacts.season_id }}',
                    '{{ TropicalSystemImpacts.system_id }}'
                    )">Delete</button></td>
                <td><button type="button" onclick="updateImpact(
                    '{{ TropicalSystemImpacts.id }}',
                    '{{ TropicalSystemImpacts.season_id }}', 
                    '{{ TropicalSystemImpacts.system_id }}', 
                    '{{ TropicalSystemImpacts.impact_id }}', 
                    '{{ TropicalSystemImpacts.city }}', 
                    '{{ TropicalSystemImpacts.state }}', 
                    '{{ TropicalSystemImpacts.country }}', 
                    '{{ TropicalSystemImpacts.region }}', 
                    '{{ TropicalSystemImpacts.localized_impact_desc }}'
                    )">Edit</button></td>
                <td>{{ TropicalSystemImpacts.id }}</td>
                <td>{{ TropicalSystemImpacts.season_id }}</td>
                <td>{{ TropicalSystemImpacts.system_id }}</td>
                <td>{{ TropicalSystemImpacts.impact_id }}</td>
                <td>{{ TropicalSystemImpacts.city }}</td>
                <td>{{ TropicalSystemImpacts.state }}</td>
                <td>{{ TropicalSystemImpacts.country }}</td>
                <td>{{ TropicalSystemImpacts.region }}</td>
                <td>{{ TropicalSystemImpacts.localized_impact_desc }}</td>
            </tr>
            {% endfor %}
        </table>        
    </div>

    <!-- Insert Impact -->
    <div id="insert" style="display: none;">
        <form method="post" action="{{ url_for('add_tropical_system_impact') }}">
            <legend><strong>Add New Impact</strong></legend>
            <fieldset>
                <p id="season_display" class="season_display"></p>
                <input type="hidden" name="season_id" value="{{ season_id }}">
                <label>System ID:</label>
                    <select name="system_id" id="season_id">
                        <option>-- Select System --</option>
                        {% for TropicalSystems in TropicalSystems %}
                        <option value="{{ TropicalSystems.system_id}}">{{ TropicalSystems.system_id }} - {{ TropicalSystems.name }}</option>
                        {% endfor %}
                    </select>
                <label>Impact ID:</label>
                    <select name="impact_id" id="impact_id">
                        <option>-- Select Impact --</option>
                        <option value="NULL">NULL - No Damage</option>
                        {% for Impacts in Impacts %}
                        <option value="{{ Impacts.impact_id }}">{{ Impacts.impact_id }} - {{ Impacts.impact_type }}</option>
                        {% endfor %}
                    </select> 
                <label>City:</label> <input type="text" name="city">
                <label>State:</label> <input type="text" name="state">
                <label>Country:</label> <input type="text" name="country">
                <label>Region:</label> <input type="text" name="region">
                <label>Description:</label> <input type="text" name="localized_impact_desc">
            </fieldset>
            <input type="submit" value="Add Impact">
            <input type="button" value="Cancel" onclick="browseImpacts()">
        </form>
    </div>

    <!-- Update Impact -->
    <div id="update" style="display: none;">
        <form method="post" action="{{ url_for('update_tropical_system_impact') }}">
            <legend><strong>Update Impact</strong></legend>
            <fieldset>
                <input type="hidden" name="id" id="update_id">
                <p id="season_display2" class="season_display2"></p>
                <p id="system_display2" class="system_display2"></p>
                <input type="hidden" name="system_id" id="update_system_id">
                <input type="hidden" name="season_id" id="update_season_id">
                <label>Impact ID:</label> 
                    <select name="impact_id" id="update_impact_id">
                        <option value="NULL">NULL - No Damage</option>
                        {% for Impacts in Impacts %}
                        <option value="{{ Impacts.impact_id}}">
                            {{ Impacts.impact_id }} - {{ Impacts.impact_type }}</option>
                        {% endfor %}
                    </select>
                <label>City:</label> <input type="text" name="city" id="update_city">
                <label>State:</label> <input type="text" name="state" id="update_state">
                <label>Country:</label> <input type="text" name="country" id="update_country">
                <label>Region:</label> <input type="text" name="region" id="update_region">
                <label>Description:</label> <input type="text" name="localized_impact_desc" id="update_desc">
            </fieldset>
            <input type="submit" value="Update Impact">
            <input type="button" value="Cancel" onclick="browseImpacts()">
        </form>
    </div>

    <!-- Delete Impact -->
    <div id="delete" style="display: none;">
        <form method="post" action="{{ url_for('delete_tropical_system_impact') }}">
            <legend><strong>Delete Impact</strong></legend>
            <fieldset>
                <p>Are you sure you want to delete this impact?</p>
                <p id="season_display1" class="season_display1"></p>
                <p id="system_display1" class="system_display1"></p>
                <input type="hidden" name="id" id="delete_id">
            </fieldset>
            <input type="submit" value="Delete Impact">
            <input type="button" value="Cancel" onclick="browseImpacts()">
        </form>
    </div>
</body>
</html>
